body {
  padding: 50px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  grid-gap: 20px;
}

#sidebar {
  display: grid;
}

#logo {
  justify-self: center;
  margin-bottom: 250px;
}

#logo h2 {
  text-align: center;
}

#sidebar-actions {
  display: grid;
  grid-gap: 20px;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr; 
  grid-gap: 40px;
  margin-bottom: 20px;
}

#content {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  height: 600px;
  border: solid;
}

