<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center mt-5">
            <h1> Team : </h1>
        </div>
    </div>
    <br>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/sharon2.jpg" class="card-img-top" alt="sharon bitmoji">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sharon Chien</h5>
          <div class="card-text text-black-50">
            <a href="https://kinla.github.io/Me/" class="card-link"> Portfolio </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/sarah2.jpg" class="card-img-top" alt="sarah bitmoji">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sarah Sakhri</h5>
          <div class="card-text text-black-50"> 
            <a href="https://sarahsakhri.github.io/Updated-Portfolio/" class="card-link"> Portfolio </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/phuoc2.jpg" class="card-img-top" alt="phuoc bitmoji">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Phuoc Phan</h5>
          <div class="card-text text-black-50">                
              <a href="https://pphan93.github.io/Updated-Portfolio/" class="card-link"> Portfolio </a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/nirossan2.jpg" class="card-img-top" alt="nirossan bitmoji">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nirossan Vijiyakumar</h5>
          <div class="card-text text-black-50">                
              <a href="https://nirossan.github.io/Portfolioupdatedversion/" class="card-link"> Portfolio </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  </header>



