

<header class="masthead">
  <div class="container">
    <div class="row align-items-center mt-5 h-100">
      <div class="col-md-4 col-sm-12 ml-auto">
        <h1 class="">Be UTTR-ly Amazing</h1>
        <hr>
        <p>You want to be better? But your future self lets you down? We are here to help.</p>
        <br>
        <button class="btn btn-warning" onclick="location.href='/learnmore';">Learn More!</button>
      </div>
      <div class="col-md-6 col-sm-12 mr-auto">
        <img src="img/target.jpg" class="img-fluid" alt="logo" id="logoImg">
      {{!-- import motivational quotes here --}}
      </div>
    </div>
  </div>
</header>