
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">UTTR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME
          <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">LOGIN</a>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SIGN UP</a>
         </li>
       </ul>
     </div>
  </div>
</nav>


<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light animated heartBeat">UTTER</h1>
          <p class="lead animated bounce">UP TO THE RIGHT</p>
                <div>
                  <img src="http://www.sugarres.lk/wp-content/uploads/2017/12/goal-02.jpg" class="animated jello" alt="logo">
                  <p class= "lead2 animated heartBeat">Your limitation—it's only your imagination</p>
                {{!-- import motivational quotes here --}}
                </div>
      </div>
    </div>
  </div>
</header>

<footer class="sticky-footer">
                <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © UTTR 2019</span>
                </div>
                </div>
            </footer>