
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">UTTR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <div>
  
  
    <li>
       <ul>
        <li><a  href="/">HOME</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/signup">SIGN UP</a></li>
      </ul>
    </li>
  </ul>
</div>
          
  </div>
</nav>
<style>
  


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: yellow;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
</style>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light animated heartBeat">UTTR</h1>
          <p class="lead animated bounce">UP TO THE RIGHT</p>
                <div>
                  <img src="http://www.sugarres.lk/wp-content/uploads/2017/12/goal-02.jpg" class="animated jello" alt="logo">
                  <p class= "lead2 animated heartBeat">Your limitation—it's only your imagination</p>
                {{!-- import motivational quotes here --}}
                </div>
      </div>
    </div>
  </div>
</header>

<footer class="sticky-footer">
                <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © UTTR 2019</span>
                </div>
                </div>
            </footer>