

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center mt-5">
      <h1>  <img src="img/chart.png" alt="chart" height="40">  What is UTTR ? </h1>

      <div>
      <p> &ensp; &emsp; We believe the way to having a successful life is by always striving to be the best versions of ourselves. 
      This is why we stand behind the motto, UTTR (Up To The Right), which is meant to describe continuous positive growth.
      An organized platform like UTTR promotes an increase in productivity and is a place where people help push and motivate each other in achieving their desired goals. 
      Users are able to display their challenges and detailed information about their progress. 
      They are required to assign a referee for each goal, to help them stay consistent with their goals. This easy to use website 
      is also a great way for goal-oriented people to continually expand their growth in their personal, social, and professional life.</p>
      </div>
      <div>
        <p><strong> How it works : </strong></p>
      </div> 
      <div><p> &emsp; &emsp; It is a fairly simple process. First, you sign up (you will be required to confirm that you read our privacy policy). After signing in, 
      you will land on your dashboard where you can view your active and completed challenges or create a new challenge. 
      You will then need to fill out a form of the following : </p> </div>
      <div>&emsp; &emsp;&emsp; &emsp;</div> 
      <div class="container">
        <div class="row">
          <div class="col"><ul>
          <li>
          Title of the goal
          </li>
          <li>
          Description of the goal
          </li>
          <li>
          Type: one-time or on-going
          </li>
          <li>
          Start date
          </li>
          </ul></div>
          <div class="col"><ul>
          <li>
          Duration (in weeks) if on-going
          </li>
          <li>
          Referee
          </li>
          <li>
          Stake
          </li>
          </ul></div>      
        </div>
      </div>
      <div>
      <p class="font-italic"> * Referee : someone of your choosing who would have the ultimate power to determine if you are successful or not for each week.</p>
      <p class="font-italic"> * Stake : This is an embarrassing photo of yourself that you submit to us. Should you fail to acheive an 80% success rate. This information will be emailed to your referee.</p>
    </div>
      <div> <p> Click on the challenge to find more information specific to it and the progress you have made, reports that your 
        referee has submitted , and a comment section for you and your referee to chat and provide updates.
         If you are assigned as a referee for someone's challenge, you will be able to view their challenges under "Referring" on your dashboard. </p>
      </div>
      <div><p> For every week that you receive a successful report, you will earn 7 UTTR points. You will need to collect 10,000 points to enter our monthly draw to win
        a grand prize! 
        <p class="text-center"> You might be one of our lucky winners, so don't forget to complete your goals </p>
      </div>
    </div>
  </div>
</header>