
    {{!-- login form --}}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-login my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Log In</h5>
            <form class="form-login" id="loginForm">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login in</button>
              <a class="d-block text-center mt-2 small" href="/signup">Sign Up Here</a>
              <hr class="my-4">

            {{!-- facebook and google login option --}}

              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Login with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Login with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
