  
    {{!-- sign up form --}}
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5"> 
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>

            
            <form class="form-signin" id="signup" name="signup" method="post" action="/signup">
              <div class="form-label-group">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" class="form-control" placeholder="firstname" required autofocus>
              </div>

                <div class="form-label-group">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" class="form-control" placeholder="lastname" required autofocus>
              </div>

              <div class="form-label-group">
                <label for="email">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
              </div>

              <div class="form-label-group">
                 <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Email address" required>
              </div>
              
              <div class="form-label-group">
                <label for="passpord">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
              
              <br>
              <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" value="Sign Up" />Sign Up </button>

              <a class="d-block text-center mt-2 small" href="/signin">Log In Here</a>
              <hr class="my-4">

              {{!-- facebook and google sign up option --}}
            </form>
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
